@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --dark_primary: #d7a3d5;
  --dark_secondary: #271126;
  --dark_text: #f1dff0;
  --dark_background: #190b18;
  --dark_accent: #b159ad;
  --text: #190b18;
  --background: #f1dff0;
  --primary: #d7a3d5;
  --secondary: #f1dff0;
  --accent: #4d244b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header {
  @apply h-16 border-b-secondary dark:border-b-dark_secondary border-b-2 px-4 md:px-7 py-4 flex justify-between items-center shadow-lg;
}

.searchBarDiv {
  @apply hidden md:flex w-full mx-10 px-3 py-2
   items-center gap-1
  bg-white
  rounded-lg;
}
.searchBarInput {
  @apply w-full  bg-transparent focus:outline-none hidden md:block;
}

.searchBarDivMb {
  @apply flex w-full  px-2 py-1
   items-center gap-1
  bg-white
  rounded-lg;
}
.searchBarInputMb {
  @apply w-full  bg-transparent focus:outline-none;
}

.aside {
  @apply fixed bg-background text-text dark:bg-dark_background dark:text-dark_text 
  left-0 top-0  flex justify-between h-screen flex-col overflow-auto  pb-5 px-4 md:px-7 pt-28 w-72;
}
